/*                KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  1   2   3   4   5 │ │  6   7   8   9  10 │
  │ 13  14  15  16  17 │ │ 18  19  20  21  22 │
  │ 25  26  27  28  29 │ │ 30  31  32  33  34 │
  ╰───────╮ 36  37  38 │ │ 39  40  41 ╭───────╯
          ╰────────────╯ ╰────────────╯
  ╭────────────────────╮ ╭────────────────────╮
  │  Q   W   E   R  T  │ │  Y   U   I   O   P │
  │  A   S   D   F  G  │ │  H   J   K   L   ; │
  │  Z   X   C   V  B  │ │  N   M   ,   .   / │
  ╰───────╮ M1 gui spc │ │spc spc  M1 ╭───────╯
          ╰────────────╯ ╰────────────╯        */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  };

#define LAYCB(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

#define CBTIM(NAME, BINDINGS, KEYPOS, TIME) \
  combo_##NAME { \
    timeout-ms = <TIME>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  };

/* layer */
COMBO(layer_sd,    &mo 2,    14 15)
COMBO(l_layer_fn,  &sl 6,    14 15 16)
COMBO(r_layer_fn,  &sl 6,    19 20 21)
COMBO(l_layer_sys, &mo 5,    25 36)
COMBO(r_layer_sys, &mo 5,    34 41)

/* keyboard */
CBTIM(left_esc,    &kp ESC,   2  3, 30)
CBTIM(caplock,     &kp CAPS, 13 22, 30)
COMBO(left_enter,  &kp RET,   2 15)
COMBO(left_tab,    &kp TAB,  26 27)
COMBO(left_bspc,   &bspc_del, 3 16)
CBTIM(right_esc,   &kp ESC,   8  9, 30)
COMBO(right_enter, &kp RET,  20 21)
CBTIM(right_tab,   &kp TAB,  32 33, 30)
CBTIM(right_bspc,  &bspc_del, 8 19, 30)

/* media */
LAYCB(cb_mute,     &kp K_MUTE,32 33, 1)

/* stickey */
COMBO(l_tab_shift, &sk LSHFT, 13 15) // A D
COMBO(l_tab_gui,   &sk LGUI,  14 16) // S F
COMBO(l_tab_ctrl,  &sk LCTRL, 15 16) // D F
COMBO(l_tab_alt,   &sk LALT,  13 16) // A F

//COMBO(r_tab_shift, &sk RSHFT, 20 22) // K :
COMBO(r_tab_gui,   &sk RGUI,  19 21) // J L
//COMBO(r_tab_ctrl,  &sk RCTRL, 19 20) // J K
//COMBO(r_tab_alt,   &sk RALT,  19 22) // J :
