/*                KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  1   2   3   4   5 │ │  6   7   8   9  10 │
  │ 13  14  15  16  17 │ │ 18  19  20  21  22 │
  │ 25  26  27  28  29 │ │ 30  31  32  33  34 │
  ╰───────╮ 36  37  38 │ │ 39  40  41 ╭───────╯
          ╰────────────╯ ╰────────────╯
  ╭────────────────────╮ ╭────────────────────╮
  │  Q   W   E   R  T  │ │  Y   U   I   O   P │
  │  A   S   D   F  G  │ │  H   J   K   L   ; │
  │  Z   X   C   V  B  │ │  N   M   ,   .   / │
  ╰───────╮ M1 gui spc │ │spc spc  M1 ╭───────╯
          ╰────────────╯ ╰────────────╯        */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0 1 2 3 4 5 6 7>; \
  };

#define LAYCB(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

#define CBTIM(NAME, BINDINGS, KEYPOS, TIME) \
  combo_##NAME { \
    timeout-ms = <TIME>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0 1 2 3 4 5 6 7>; \
  };

#define ONECB(NAME, BINDINGS, KEYPOS) \
  combo_one_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <8>; \
  };

/* layer */
COMBO(layer_sd,    &mo 2,    14 15)
COMBO(l_layer_fn,  &sl 6,    14 15 16)
COMBO(r_layer_fn,  &sl 6,    19 20 21)
COMBO(l_layer_sys, &mo 5,    25 36)
COMBO(r_layer_sys, &mo 5,    34 41)
COMBO(l_layer_me,  &mo 1,    36 37)
COMBO(layer_mouse, &mo 7,    13 14)

/* keyboard */
CBTIM(left_esc,    &kp ESC,   2  3, 30)
CBTIM(caplock,     &kp CAPS, 13 22, 30)
COMBO(left_enter,  &kp RET,   2 15)
COMBO(left_tab,    &kp TAB,  26 27)
COMBO(left_bspc,   &bspc_del, 3 16)
CBTIM(right_esc,   &kp ESC,   8  9, 30)
COMBO(right_enter, &kp RET,  20 21)
CBTIM(right_tab,   &kp TAB,  32 33, 30)
CBTIM(right_bspc,  &bspc_del, 8 19, 30)

/* mouse */
LAYCB(mouse_l_t,  &kp KP_N7,  8 19, 7)
LAYCB(mouse_l_b,  &kp KP_N1, 19 20, 7)
LAYCB(mouse_r_t,  &kp KP_N9,  8 21, 7)
LAYCB(mouse_r_b,  &kp KP_N3, 20 21, 7)

/* media */
LAYCB(cb_mute,    &kp K_MUTE,32 33, 1)

/* stickey */
COMBO(l_tab_shift, &sk LSHFT, 13 15) // A D
COMBO(l_tab_gui,   &sk LGUI,  14 16) // S F
COMBO(l_tab_ctrl,  &sk LCTRL, 15 16) // D F
COMBO(l_tab_alt,   &sk LALT,  13 16) // A F

//COMBO(r_tab_shift, &sk RSHFT, 20 22) // K :
CBTIM(r_tab_gui,   &sk RGUI,  19 21, 30) // J L
//COMBO(r_tab_ctrl,  &sk RCTRL, 19 20) // J K
//COMBO(r_tab_alt,   &sk RALT,  19 22) // J :

/*                KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  1   2   3   4  xx │ │ xx   7   8   9  10 │
  │ 13  14  15  16  xx │ │ xx  19  20  21  22 │
  │ xx  xx  xx  xx  xx │ │ xx  xx  xx  xx  xx │
  ╰───────╮ xx  xx  xx │ │ xx  xx  xx ╭───────╯
          ╰────────────╯ ╰────────────╯ */

/* combo for one hand left*/
ONECB(l_b, &kp B, 19 22)
ONECB(l_c, &kp C, 19 20)
ONECB(l_d, &kp D, 7 8 9)
ONECB(l_f, &kp F, 7 8)
ONECB(l_g, &kp G, 8 9)
ONECB(l_h, &kp H, 19 21)
ONECB(l_j, &kp J, 9 10)
ONECB(l_k, &kp K, 20 22)
ONECB(l_l, &kp J, 19 20 21)
ONECB(l_m, &kp M, 20 21 22)
ONECB(l_n, &kp N, 21 22)
ONECB(l_p, &kp P, 19 21 22)
ONECB(l_q, &kp Q, 7 9 10)
ONECB(l_u, &kp U, 20 21)
ONECB(l_v, &kp V, 8 10)
ONECB(l_w, &kp W, 7 10)
ONECB(l_x, &kp X, 8 9 10)
ONECB(l_z, &kp Z, 7 8 9 10)
ONECB(l_ent,  &kp RET, 7 19)
ONECB(l_esc,  &kp ESC, 7 8 22)
ONECB(l_tab,  &kp TAB, 7 8 9 22)
ONECB(l_gui,  &sk LGUI, 10 20)
ONECB(l_shif,  &sk LSHFT, 8 9 10 19)
ONECB(l_space, &kp SPACE, 19 20 21 22)
ONECB(l_bspc,  &kp BACKSPACE, 8 19)

/* combo for one hand right*/
ONECB(r_b, &kp B, 13 16)
ONECB(r_c, &kp C, 15 16)
ONECB(r_d, &kp D, 2 3 4)
ONECB(r_f, &kp F, 3 4)
ONECB(r_g, &kp G, 2 3)
ONECB(r_h, &kp H, 14 16)
ONECB(r_j, &kp J, 1 2)
ONECB(r_k, &kp K, 15 13)
ONECB(r_l, &kp J, 14 15 16)
ONECB(r_m, &kp M, 13 14 15)
ONECB(r_n, &kp N, 14 13)
ONECB(r_p, &kp P, 13 14 15)
ONECB(r_q, &kp Q, 1 2 3)
ONECB(r_u, &kp U, 14 13)
ONECB(r_v, &kp V, 3 1)
ONECB(r_w, &kp W, 1 4)
ONECB(r_x, &kp X, 2 3 4)
ONECB(r_z, &kp Z, 1 2 3 4)
ONECB(r_ent,  &kp RET, 1 13)
ONECB(r_esc,  &kp ESC, 1 2 16)
ONECB(r_tab,  &kp TAB, 1 2 3 16)
ONECB(r_gui,  &sk RGUI, 4 14)
ONECB(r_shif,  &sk RSHFT, 2 3 4 13)
ONECB(r_space, &kp SPACE, 13 14 15 16)
ONECB(r_bspc,  &kp BACKSPACE, 2 13)
