/*                KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  1   2   3   4   5 │ │  6   7   8   9  10 │
  │ 13  14  15  16  17 │ │ 18  19  20  21  22 │
  │ 25  26  27  28  29 │ │ 30  31  32  33  34 │
  ╰───────╮ 36  37  38 │ │ 39  40  41 ╭───────╯
          ╰────────────╯ ╰────────────╯
  ╭────────────────────╮ ╭────────────────────╮
  │  Q   W   E   R  T  │ │  Y   U   I   O   P │
  │  A   S   D   F  G  │ │  H   J   K   L   ; │
  │  Z   X   C   V  B  │ │  N   M   ,   .   / │
  ╰───────╮ M1 gui spc │ │spc spc  M1 ╭───────╯
          ╰────────────╯ ╰────────────╯        */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0 1 2 3 4 5 6 7>; \
  };

#define LAYCB(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

#define CBTIM(NAME, BINDINGS, KEYPOS, TIME) \
  combo_##NAME { \
    timeout-ms = <TIME>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0 1 2 3 4 5 6 7>; \
  };

#define ONECB(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <8>; \
  };

/* layer */
COMBO(layer_sd,    &mo 2,    14 15)
COMBO(l_layer_fn,  &sl 6,    14 15 16)
COMBO(r_layer_fn,  &sl 6,    19 20 21)
COMBO(l_layer_sys, &mo 5,    25 36)
COMBO(r_layer_sys, &mo 5,    34 41)
COMBO(l_layer_me,  &mo 1,    36 37)
COMBO(layer_mouse, &mo 7,    13 14)

/* keyboard */
CBTIM(left_esc,    &kp ESC,   2  3, 30)
CBTIM(caplock,     &kp CAPS, 13 22, 30)
COMBO(left_enter,  &kp RET,   2 15)
COMBO(left_tab,    &kp TAB,  26 27)
COMBO(left_bspc,   &bspc_del, 3 16)
CBTIM(right_esc,   &kp ESC,   8  9, 30)
COMBO(right_enter, &kp RET,  20 21)
CBTIM(right_tab,   &kp TAB,  32 33, 30)
CBTIM(right_bspc,  &bspc_del, 8 19, 30)

/* mouse */
LAYCB(mouse_l_t,  &kp KP_N7,  8 19, 7)
LAYCB(mouse_l_b,  &kp KP_N1, 19 20, 7)
LAYCB(mouse_r_t,  &kp KP_N9,  8 21, 7)
LAYCB(mouse_r_b,  &kp KP_N3, 20 21, 7)

/* media */
LAYCB(cb_mute,    &kp K_MUTE,32 33, 1)

/* stickey */
COMBO(l_tab_shift, &sk LSHFT, 13 15) // A D
COMBO(l_tab_gui,   &sk LGUI,  14 16) // S F
COMBO(l_tab_ctrl,  &sk LCTRL, 15 16) // D F
COMBO(l_tab_alt,   &sk LALT,  13 16) // A F

//COMBO(r_tab_shift, &sk RSHFT, 20 22) // K :
CBTIM(r_tab_gui,   &sk RGUI,  19 21, 30) // J L
//COMBO(r_tab_ctrl,  &sk RCTRL, 19 20) // J K
//COMBO(r_tab_alt,   &sk RALT,  19 22) // J :

/*                KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  1   2   3   4  xx │ │ xx   7   8   9  10 │
  │ 13  14  15  16  xx │ │ xx  19  20  21  22 │
  │ xx  xx  xx  xx  xx │ │ xx  xx  xx  xx  xx │
  ╰───────╮ xx  xx  xx │ │ xx  xx  xx ╭───────╯
          ╰────────────╯ ╰────────────╯ */

/* combo for one hand right*/
ONECB(or_b, &kp B, 19 22)
ONECB(or_c, &kp C, 19 20)
ONECB(or_d, &kp D, 7 8 9)
ONECB(or_f, &kp F, 7 8)
ONECB(or_g, &kp G, 8 9)
ONECB(or_h, &kp H, 19 21)
ONECB(or_j, &kp J, 9 10)
ONECB(or_k, &kp K, 20 22)
ONECB(or_l, &kp L, 19 20 21)
ONECB(or_m, &kp M, 20 21 22)
ONECB(or_n, &kp N, 21 22)
ONECB(or_p, &kp P, 19 21 22)
ONECB(or_q, &kp Q, 7 9 10)
ONECB(or_u, &kp U, 20 21)
ONECB(or_v, &kp V, 8 10)
ONECB(or_w, &kp W, 7 10)
ONECB(or_x, &kp X, 8 9 10)
ONECB(or_z, &kp Z, 7 8 9 10)
ONECB(or_ent,  &kp RET, 7 19)
ONECB(or_esc,  &kp ESC, 7 8 22)
ONECB(or_tab,  &kp TAB, 7 8 9 22)
ONECB(or_gui,  &sk LGUI, 10 20)
ONECB(or_shif,  &sk LSHFT, 8 9 10 19)
ONECB(or_space, &kp SPACE, 19 20 21 22)
ONECB(or_bspc,  &kp BACKSPACE, 8 19)
ONECB(or_to_zz  &to 0, 33 34)

/* combo for one hand left*/
ONECB(ol_b, &kp B, 13 16)
ONECB(ol_c, &kp C, 15 16)
ONECB(ol_d, &kp D, 2 3 4)
ONECB(ol_f, &kp F, 3 4)
ONECB(ol_g, &kp G, 2 3)
ONECB(ol_h, &kp H, 14 16)
ONECB(ol_j, &kp J, 1 2)
ONECB(ol_k, &kp K, 15 13)
ONECB(ol_l, &kp L, 14 15 16)
ONECB(ol_m, &kp M, 13 14 15)
ONECB(ol_n, &kp N, 14 13)
ONECB(ol_p, &kp P, 13 14 16)
ONECB(ol_q, &kp Q, 1 2 4)
ONECB(ol_u, &kp U, 14 15)
ONECB(ol_v, &kp V, 3 1)
ONECB(ol_w, &kp W, 1 4)
ONECB(ol_x, &kp X, 1 2 3 )
ONECB(ol_z, &kp Z, 1 2 3 4)
ONECB(ol_ent,  &kp RET, 4 16)
ONECB(ol_esc,  &kp ESC, 3 4 13)
ONECB(ol_tab,  &kp TAB, 2 3 4 13)
ONECB(ol_gui,  &sk RGUI, 1 15)
ONECB(ol_shif,  &sk RSHFT, 1 2 3 16)
ONECB(ol_space, &kp SPACE, 13 14 15 16)
ONECB(ol_bspc,  &kp BACKSPACE, 3 16)
ONECB(ol_to_zz  &to 0, 25 26)
