/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        behaviors {
               bhm: balanced_homerow_mods {
                      compatible = "zmk,behavior-hold-tap";
                      label = "HOMEROW_MODS";
                      #binding-cells = <2>;
                      tapping-term-ms = <200>;    // <---[[moderate duration]]
                      quick-tap-ms = <200>;
                      flavor = "balanced";
                      bindings = <&kp>, <&kp>;
               }; 
        };
        keymap {
                compatible = "zmk,keymap";

// -----------------------------------------------------------------------------------------
// |  0  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7   |  8  |  9  |  10  | 11 |
// |  12 |  13 |  14 |  15 |  16 |  17 |   |  18 |  19  |  20 |  21 |  22  | 23 |
// |  24 |  25 |  26 |  27 |  28 |  29 |   |  30  |  31 |  32 |  33 |  34  | 35 |

                // 0
                default_layer {
// -----------------------------------------------------------------------------------------
// |  -  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  -  |
// |  -  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  -  |
// |  -  |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |  -  |
//                   | MO1 | GUI | SPC |   | SPC | SPC  | SPC |
                        bindings = <
 &trans  &lt 4 Q      &kp W       &kp E        &kp R       &kp T  &kp Y &kp U        &kp I        &kp O       &lt 4 P         &trans
 &trans  &bhm LSHFT A &bhm LGUI S &bhm LCTRL D &bhm LALT F &kp G  &kp H &bhm RALT J  &bhm RCTRL K &bhm RGUI L &bhm RSHFT SEMI &trans
 &trans  &lt 3 Z      &kp X       &kp C        &kp V       &kp B  &kp N &kp M        &kp COMMA    &kp DOT     &lt 3 FSLH      &trans
                      &mo 1       &kp LGUI     &kp SPACE                &kp SPACE    &kp SPACE    &kp SPACE 
                        >;
                };

                // 1 media
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &trans   &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &trans 
   &trans   &trans       &trans       &trans       &trans       &bootloader    &bootloader   &trans   &trans &trans    &trans &trans
                                    &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

                // 2
                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &trans 
   &trans  &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &trans  &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };

                // 3
                symbol_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans  &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT &kp CARET &kp AMPS  &kp LBKT &kp RBKT &kp RPAR &trans 
   &trans  &kp GRAVE &kp PLUS &kp MINUS &kp EQUAL &trans    &trans    &kp UNDER &kp LPAR &kp RPAR &kp BSLH &trans
   &trans  &trans    &kp STAR &kp SLASH &kp BSLH  &trans    &kp TILDE &kp PIPE  &kp LBRC &kp RBRC &trans   &trans
                             &kp LGUI   &trans    &kp SPACE                      &kp RET         &trans   &kp RALT
                        >;
                };

                // 4
                num_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans &trans &kp N7 &kp N8 &kp N9 &trans &trans &kp N7 &kp N8 &kp N9 &trans &trans 
   &trans &trans &kp N4 &kp N5 &kp N6 &trans &trans &kp N4 &kp N5 &kp N6 &trans &trans
   &trans &trans &kp N1 &kp N2 &kp N3 &trans &trans &kp N1 &kp N2 &kp N3 &trans  &trans
                             &kp LGUI   &trans    &kp SPACE           &kp RET &kp N0 &kp RALT
                        >;
                };
        };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp ESC>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_bspc {
            timeout-ms = <50>;
            key-positions = <8 19>;
            bindings = <&kp BSPC>;
        };
    };
};


/ {
    combos {
        compatible = "zmk,combos";
        combo_ent {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp RET>;
        };
    };
};


/ {
    combos {
        compatible = "zmk,combos";
        combo_tab {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp TAB>;
        };
    };
};

